.visually-hidden {
  visibility: hidden;
  position: absolute;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Georgia, sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.center {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.background {
  width: 100%;
  max-width:1440px;
  background-color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}

.main-logo {
  margin-right: auto;
  width: 160px;
  height: 65px;
  margin-top: 50px;
}

.main-logo:hover {
  opacity: 0.8;
}

.main-logo:active {
  opacity: 0.3;
}

.nav-link {
  color: #000000;
  display: block;
  height: 40px;
  padding: 0 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.nav-link:hover {
  color: #ff5557;
}
.nav-link:active {
  color: #c2c2c2;
}

.link-active {
  position: relative;
}

.link-active::after {
    content: "";

    position: absolute;
    right: 25px;
    bottom: 7px;
    left: 25px;

    height: 2px;

    background-color: #fc555c;
}

.cart-enter {
  color: #000000;
  display: block;
  height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-left: auto;
  padding-left: 50px;
  position:relative;
}

.cart-enter::before {
  content: "";

  position:absolute;
  top: 6px;
  left: 10px;

  width:18px;
  height: 18px;
  background-image: url("images/cart-icon.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.cart-enter:hover {
  color: #ff5557;
}

.cart-enter:active {
  color: #c2c2c2;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.tagline {
  color: #000000;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-top: 80px;
}

.slider-text {
  color: #000000;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 25px;
}

.slider-button {
  border: none;
  outline: none;
  width: 240px;
  height: 50px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: #fb565a;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 35px;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active {
  background-color: #d7363b;
  color: #e38586;
}

.slider-image {
  margin-right: 30px;
  margin-top: 10px;
  position: relative;
  top: 6px;
}


.our-services {
  width: 1440px;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
}

.our-services-image {
  margin-top: 80px;
  margin-right: 100px;
}

.our-services-list {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-right: 100px;
  text-transform: uppercase;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.our-services-tagline {
  margin-right: 100px;
  margin-bottom: 30px;
}

.order-btn1 {
  display: inline-block;
  width: 160px;
  height: 50px;
  margin-bottom: 65px;
  line-height: 50px;
  text-align: center;
  margin-right: 100px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", Georgia, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  background-color: #fb565a;
}

.order-btn1:hover {
  background-color: #e74246;
}

.order-btn1:active {
  background-color: #d7363b;
  color: #e38586;
}

.order-btn2 {
  display: inline-block;
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-right: 100px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", Georgia, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  background-color: #00ca74;
}

.order-btn2:hover {
  background-color: #01bc6d;
}

.order-btn2:active {
  background-color: #00aa63;
  color: #73c69a;
}

.order-btn3 {
  display: inline-block;
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-right: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Roboto", Georgia, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  background-color: #efc84a;
}

.order-btn3:hover {
  background-color: #eab535;
}

.order-btn3:active {
  background-color: #e6a823;
  color: #eaca81;
}

.studio-information {
  display: flex;
  width: 1160px;
  justify-content: space-between;
}

.about-us {
  width: 660px;
}

.about-us h3 {
  text-decoration: none;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 70px;
}

.about-us h4 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 25px;
}
.about-us li {
  position: relative;
  margin-left: 35px;
  list-style: none;
  margin-bottom: 24px;
}

hr {
  border: none;
  background-color: #fb565a;
  width: 25px;
  height: 2px;
  position: absolute;
  top: 10px;
  left: -35px;
}

.information-container {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-top: 30px;
}

.information-container p {
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 45px;
}

.numbers {
  display: flex;
  margin-bottom: 25px;
}

.numbers img {
  margin-right: 30px;
}

.text-under-numbers {
  display: flex;
}

.text-under-numbers span {
  line-height: 18px;
  margin-right: 30px;
  margin-bottom: 60px;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 23px;
}

.partners img {
  opacity: 0.2;
}

.partners img:hover {
  opacity: 1;
}
.partners img:active {
  opacity: 0.1;
}
.map {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 70px;
}

.map-marker {
  position: absolute;
  top: 120px;
  left: 870px;
}

.write-to-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  height: 310px;
  background-color: #ffffff;
  position: absolute;
  top: 55px;
  left: 140px;
  padding-left: 50px;
}

.write-to-us h3 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 22px;
}

.write-to-us p {
  line-height: 18px;
  margin-bottom: 20px;
}

.write-to-us p:last-of-type {
  margin-bottom: 35px;
}

.submit {
  display: inline-block;
  background-color: #fb565a;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 500;
}

.submit span {
  display: inline-block;
  color: #ffffff;
  margin: 13px 45px;
}

.submit:hover {
  background-color: #e74246;
}

.submit:active {
  background-color: #d7363b;
}

.submit span:active {
  color: #e38586;
}

footer {
  display: flex;
  justify-content: flex-start;
  height: 220px;
}

.social-links ul {
  display: flex;
  width: 260px;
  margin-top: 70px;
  justify-content: space-between;
  margin-right: 140px;
}

.social-links li {
  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e1e1;
  width: 79px;
  height: 79px;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7363b;
}

.social-button img:active {
  opacity: 0.4;
}

.discount {
  width: 560px;
  margin-top: 75px;
}

.lets-be-friends {
  font-weight: bold;
  line-height: 36px;
  font-size: 36px;
  margin-bottom: 10px;
}


/* shop page styles */

.shop-text {
  color: #000000;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

.filter {
  width:260px;
}

.options-titles {
  color: #000000;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
  flex-direction: row;
  width:760px;
}

.sort-list-button {
  border: none; 
  outline: none;
  background-color: white;
  }

.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:760px;
  justify-content: space-between;
}

.product-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:360px;
  margin-bottom: 35px;
}

.product-item img {
  font-size: 0;
}



