.visually-hidden {
  visibility: hidden;
  position: absolute;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Georgia, sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.nav {
  width: 1440px;
  height: 114px;
  background-color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
}

.main-logo {
  margin-top: 49px;
  margin-left: 140px;
  margin-right: 175px;
}

ul.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  float: left;
  margin-top: 80px;
}

.nav-link a {
  color: #000000;
  display: block;
  height: 50px;
  padding: 0 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.nav-link a:hover {
  color: #ff5557;
}

.cart-enter {
  margin-top: 80px;
  margin-left: 230px;
  list-style: none;
}

.cart-enter a {
  color: #000000;
  display: block;
  height: 50px;
  margin-right: 140px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.cart-enter a:hover {
  color: #ff5557;
}

.slider {
  width: 1440px;
  background-color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.tagline {
  color: #000000;
  margin-left: 140px;
  margin-top: 86px;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-text {
  color: #000000;
  margin-left: 140px;
  margin-top: 25px;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.slider-button {
  border: none;
  outline: none;
  width: 240px;
  height: 50px;
  color: #ffffff;
  margin-top: 45px;
  margin-left: 140px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-image: url(/images/btn.png);
  cursor: pointer;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-image {
  margin-right: 170px;
  display: flex;
  align-items: flex-end;
}

.our-services {
  width: 1440px;
  margin-left: 280px;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
}

.our-services-image {
  margin-top: 80px;
  margin-left: 100px;
}

.our-services-list {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
  text-transform: uppercase;
  font-family: "Roboto", Georgia, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.our-services-tagline {
  margin-left: 100px;
  margin-bottom: 40px;
}

.order-btn1 {
  margin-left: 100px;
  padding: ;
  text-decoration: none;
  text-align: center;
  background: no-repeat;
  background-image: url(/images/button-red.png);
}
